#innerFormEne {
  margin-left: 2em; }

#innerFormEneMeterOn {
  margin-left: 2em; }

#innerFormEneConsumOn {
  margin-left: 2em; }

#innerFormEne2 {
  margin-left: 1.5em; }

#innerFormEneBM {
  margin-left: 2em; }

